.nav_gallery_body_back {
    background-color: #000000;
}

/************************nav_gallery_content_body(below navbar)*****************/
.nav_gallery_content_body {
    background-color: #FFD6005E;
    margin-top: -2rem;
}

.nav_gallery_content_heading {
    display: flex;
    height: 15rem;
    justify-content: center;
    padding-top: 3rem;
}

.nav_gallery_content_heading h2 {
    color: #ffffff;
}

.nav_gallery_content_para {
    width: 70%;
    margin-top: -8rem;
    padding: 4rem 10rem 4rem 18rem;
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
}

.nav_gallery_content_para p {
    font-size: 14px;
    color: #000000;
    line-height: 20px;
}

@media (max-width: 992px) {
    .nav_gallery_content_para {
        padding: 0;
    }
}

/**************************john_video_content_body****************************/
.john_video_content_body h1 {
    color: #ffa600;
}

/**********************************************************************************/
/****************************** gallery_pics_container ***************************/


.gallery_pics_content_heading h1 {
    color: #ffffff;
}

.gallery_pics_container {
    display: flex;
    gap: 10px;
}


/***************************** gallery_pics_content_first ***************************/

.gallery_pics_content_first img {
    height: 604px;
}

@media (max-width: 1399.98px) {
    .gallery_pics_content_first img {
        height: 547px;
    }
}

@media (max-width: 1199.98px) {
    .gallery_pics_content_first img {
        height: 492px;
    }
}

@media (max-width: 991.98px) {
    .gallery_pics_content_first img {
        height: 415px;
    }
}

@media (max-width:767.98px) {
    .gallery_pics_content_first img {
        height: 362px;
    }
}

@media (max-width: 575.98px) {
    .gallery_pics_content_first img {
        height: 277px;
    }
}

/*********************** gallery_pics_content_second_first *******************************/

.gallery_pics_content_second_first img {
    height: 400px;
}

@media (max-width: 1399.98px) {
    .gallery_pics_content_second_first img {
        height: 371px;
    }
}

@media (max-width: 1199.98px) {
    .gallery_pics_content_second_first img {
        height: 342px;
    }
}

@media (max-width: 991.98px) {
    .gallery_pics_content_second_first img {
        height: 304px;
    }
}

@media (max-width:767.98px) {
    .gallery_pics_content_second_first img {
        height: 279px;
    }
}

@media (max-width: 575.98px) {
    .gallery_pics_content_second_first img {
        height: 193px;
    }
}

/************************ gallery_pics_content_second_sec *************************/

.gallery_pics_content_second_sec {
    display: flex;
    gap: 7px;
    padding-top: 5px;
}

.gallery_pics_content_second_sec img {
    height: 199px;
}

@media (max-width: 1399.98px) {
    .gallery_pics_content_second_sec img {
        height: 172px;
    }
}

@media (max-width: 1199.98px) {
    .gallery_pics_content_second_sec img {
        height: 145px;
    }
}

@media (max-width: 991.98px) {
    .gallery_pics_content_second_sec img {
        height: 108px;
    }
}

@media (max-width:767.98px) {
    .gallery_pics_content_second_sec img {
        height: 80px;
    }
}

@media (max-width: 575.98px) {
    .gallery_pics_content_second_sec img {
        height: 78px;
    }
}